@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Heebo', sans-serif;
    height: 100%;
}

ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
    margin: 20px;
    padding: 20px;
}


li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
    text-decoration-color: blue;}

.hero {
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    line-break: 1.5;
    color: #21243D;
    margin-bottom: 30px;
}

.break {
    display: block;
    color: #21243D;
}

.hero_intro > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #21243D;
    margin-bottom: 40px;
}

.hero_intro > button {
    background-color: #FF6464;
    width: 180px;
    height: 38px;
    border: none;
}

.hero_intro a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.profile_img img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
}

.section2 {
    background-color: #EDF7FA;
}

.recent_view {
    display: flex;
    justify-content: space-around;
    padding-top: 10px ;
    gap: 300px;
}

.recent_view p {
    font-size: 22px;
    font-weight: 400;
    color: #21243D;
}

.recent_view a {
    font-size: 16px;
    text-decoration: none;
    color: #00ABCC;
}

.recent_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-top: 20px;
}

.text-cards {
    background-color: #FFFFFF;
    width: 400px;
    height: 300px;
    border-radius: 4px;
    box-shadow: #BBE1FA;
    margin-bottom: 20px;
    padding: 20px;
}

h4 {
    font-size: 26px;
    font-weight: 700;
}

.card-text {
    display: flex;
    gap: 30px;
    margin: 10px 0;
}

.card-text p {
    font-size: 18px;
    color: #21243D;
    margin-top: 20px;
}

.text-cards > p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 30px;
}

.featured {
    padding: 20px 350px;
}

.featured > h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 60px; 
}

.image img {
    width: 246px;
    height: 180px;
    border-radius: 6px;
}

.featured-work {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
    font-family: Heebo;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-text {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 5px 5px;
    margin-bottom: 20px;
}

.feature-btn > button {
    width: 60px;
    height: 28px;
    align-items: center;
    background-color: #142850;
    font-size: 15px;
    font-weight: 900;
    color: #ffffff;
    border-radius: 48px;
}

.feature-text p {
    font-size: 20px;
    font-weight: 400;
    color: #8695A4;
}

.para {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin: 30px 0;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 35px;
    margin: 20px 0;
}

.footer-icon > a {
    color: black;
}





