@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Heebo', sans-serif;
    height: 100%;
}

ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
    margin: 20px;
    padding: 20px;
}


li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    margin-top: 100px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    line-break: 1.5;
    color: #21243D;
    margin-bottom: 30px;
}

.break {
    display: block;
    color: #21243D;
}

.hero_intro p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;
    color: #21243D;
    margin-bottom: 40px;
}

.hero_intro button {
    background-color: #FF6464;
    width: 180px;
    height: 38px;
    border: none;
}

.hero_intro a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.profile_img img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
}




/* ul li:nth-of-type(2) {
    color: orange;
} */



